@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
}

$primary--color:#000;
$second--color: #AAA;
$primary-font--color:#FFF;

body{
    background-color:#000;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header--area{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: $primary--color;
}
.menu{
    ul{
        list-style: none;
    }

    li{
        display: inline-block;

        a{
            transition: 0.2s ease;
            display: block;
            padding: 10px;
            text-decoration: none;
            color: $primary-font--color;
            text-transform: uppercase;
            font-size: 20px;
            
            &:hover{
                border-bottom: 3px solid $second--color;
            }
        }
    }

    .active{
        a {
        border-bottom: 3px solid $second--color;
        color: #CCCCCC;
        }
    }
}

/*Banner*/
.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;

    .sliders{
        width: 1000vw;
        height: 100%;
    }

    .slide{
        width: 100vw;
        height: 100%;
        display: inline-block;
        background-color: rgba(0, 0 , 0, 0.8);
    }

    .slideArea{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        color:$primary-font--color;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10px;

                span{
                    color:$second--color;
                }
            }

        h2{
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 20px;
        }

        a{
            text-decoration: none;
            color: $primary-font--color;
        }
    }

    .slidersPointers{
        width: 100vw;
        height: 20px;
        position: absolute;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pointer{
        width: 15px;
        height: 15px;
        border:1px solid $second--color;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .pointer.active{
        background-color: $second--color;
    }
}
